@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}


// .card {
//   width: 210px;
//   height: 260px;
// }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card__image {
  width: 130px;
  height: auto;
}

.card {
  // cursor: pointer;
  transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, .06);
    transform: scale(1.05);
    // transform: translateY(-5px);
  }
}

.cart-modal {
  background-color: rgba(0, 0, 0, .5);
}

.cart {
  background-color: #fff;
  overflow-y: auto;
  height: 70vh;
  padding: 20px 0;

  .cart-remove-btn {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    position: relative;

    &:hover {
      opacity: .6;
    }
  }

}

.cart-close-btn {
  transition: transform .5s ease-in-out;
  filter: brightness(.5);


  &:hover {
    transform: rotate(90deg);
    opacity: .6;
  }
}

.cart-item {
  max-height: 140px;
  max-width: 90%;
  margin: 0 auto;
}

.cart-item:not(.cart-item:last-of-type) {
  margin-bottom: 20px;
}

.cart-border-block {
  border-bottom: dotted 1px rgba(0, 0, 0, .5);
  flex: 1;
}

.cart-order-button {
  background-color: #9DD558;
  transition: background-color .2s ease-in-out;
  

  &:hover {
    background-color: lighten($color: #9DD558, $amount: 5%);
  }

  .cart-order-button-arrow {
    transition: transform .2s ease-in-out;
  }

  &:hover .cart-order-button-arrow{
    transform: translateX(10px);
  }


}




